.signupContainer,
.loginContainer {
  max-height: calc(100vh - 64px);
  overflow: hidden;
}
.signup,
.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left,
.right {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup .right,
.login .left {
  background: #29b969;
}
.signup .right {
  align-items: flex-start;
}
.signup .left img,
.login .right img {
  width: 550px;
  max-width: 90%;
  align-self: flex-start;
  margin-top: 10%;
}
form {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 500px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.signup .right form {
  padding: 8px 16px;
  margin-top: 16px;
}
h3 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 16px;
}
input,
select {
  font-size: 16px;
  padding: 8px 12px;
  background: transparent;
  border: 1px solid #ddd5dd;
  border-radius: 8px;
}
input:focus,
select:focus {
  outline: none;
  border: 1px solid #333;
}
.signup .right form input,
.signup .right form select {
  padding: 4px 12px;
}
label {
  color: #333333;
}
.nameInput,
.phoneInput {
  display: flex;
  gap: 8px;
}
.phoneInput input {
  width: 85%;
}
.countryCode {
  width: 15% !important;
}
select option {
  margin: 8px;
  color: #333333;
  background: rgba(255, 255, 255, 0.8);
}
select option:checked {
  color: #29b969;
  font-weight: 600;
}
form button {
  border: none;
  outline: none;
  background: #29b969;
  padding: 8px 16px;
  font-size: 20px;
  color: #fff;
  border-radius: 8px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
}
form button:hover {
  background-color: #2ab468;
}
form p {
  text-align: center;
  margin-top: 8px;
}
form p a {
  margin-left: 4px;
  text-decoration: none;
  color: #29b969;
  font-weight: 600;
}
form p a:hover {
  text-decoration: underline;
}
/*----------
Login
--------*/
input[type="checkbox"] {
  margin-right: 4px;
}
.loginFeatures {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-top: 8px;
}
.forgot {
  color: #29b969;
  font-weight: 400;
  text-decoration: none;
}
.forgot:hover {
  text-decoration: underline;
}
.passwordContainer {
  position: relative;
}
.passwordContainer input {
  width: 100%;
}
.passwordToggle {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: #333;
  cursor: pointer;
  user-select: none;
}
.btnGoogle {
  margin: 8px auto 0;
}
@media screen and (max-width: 1090px) {
  .signup {
    min-height: 100dvh;
  }
  .signup .left,
  .login .right {
    display: none;
  }
  .signup .right,
  .login .left {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .signupContainer,
  .loginContainer {
    overflow: auto;
    scrollbar-width: none;
  }
  form {
    width: 80%;
  }
  input,
  select {
    width: 90%;
  }
}
