.hero,
.faq,
.about,
.services,
.aboutContent,
.cards,
.app,
.contact {
  margin-top: 64px;
}
h2 {
  margin-top: 8px;
  margin-bottom: 64px;
  font-size: 64px;
  letter-spacing: 0.2;
  line-height: 60px;
  color: rgba(51, 51, 51, 0.2);
  text-align: center;
}
.aboutContent,
.cards,
.faqWrapper,
.downloadAppContent {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.reveal {
  opacity: 1;
  transform: translateY(0);
}
/* -----------
HERO SECTION
-----------*/
.hero .container,
.aboutContent,
.cards,
.downloadAppContent,
.contactWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px;
}
.hero .right img,
.about .left img {
  width: 500px;
  max-width: 100%;
  object-fit: contain;
}
.left h1 {
  font-size: 48px;
  color: #333333;
}
.hero p,
.about p {
  color: #333333;
}
.heroBtns {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-top: 16px;
}
.heroBtns a {
  font-weight: 600;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 24px;
  font-size: 18px;
}
.signup,
.reservations {
  color: #fff;
  background-color: #29b969;
}
.login,
.profile {
  color: #29b969;
  border: 2px solid #29b969;
}
.arrow {
  margin-left: 4px;
}

/* -----------
ABOUT US
-----------*/
.about {
  background-color: #f6f6f6;
  padding: 24px;
}
.about hr {
  width: 50%;
  background-color: #29b969;
  height: 4px;
  margin: 16px 0;
}
.about p {
  max-width: 450px;
  text-align: left;
  font-size: 24px;
}
.about .left img {
  width: 500px;
}

/* -----------
SERVICES
-----------*/
.cards {
  justify-content: center;
}
.card {
  width: 350px;
  min-height: 620px;
  border: 2px solid #29b969;
  border-radius: 0 50px 0 50px;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.2);
}
.card img {
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0 48px 0 0;
}
.card h3 {
  text-align: center;
  color: #29b969;
  margin: 4px 0;
}
.card p {
  padding: 0 16px;
  color: #333333;
}
/* -----------
FAQ SECTION
-----------*/
.faq {
  background-color: #f6f6f6;
  padding: 32px 0;
}
.faqWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  margin: 0 auto;
}
.accordionItem {
  border: 1px solid #29b969;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.questionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #29b969;
  cursor: pointer;
}
.question {
  font-size: 20px;
  color: #333333;
}
.questionIcon {
  font-size: 24px;
  color: #333333;
}
.accordionContent {
  padding: 16px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* -----------
DOWNLOAD APP SECTION
-----------*/
.appMockup {
  border-bottom-right-radius: 48px;
  border-bottom-left-radius: 48px;
  background: url("./../../images/app-mockup.png");
  width: 200px;
  height: 530px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.appMockup::before {
  content: "";
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #29b969;
  border-radius: 50%;
  z-index: -1;
}
.downloadAppContent .downloadAppText {
  text-align: center;
}
.downloadAppText h4 {
  font-size: 32px;
  color: #333333;
}
.downloadAppText h4 span {
  color: #29b969;
}
.downloadAppText hr {
  margin: 16px 0;
}
.downloadAppText p {
  font-size: 24px;
  margin: 0 auto;
}
.downloadBtn {
  display: inline-block;
  background-color: #29b969;
  color: #fff;
  padding: 8px 16px;
  margin-top: 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  font-weight: 600;
  transition: background-color 0.3s;
}
.downloadBtn:hover {
  background-color: #1d804c;
}
/* -----------
CONTACT SECTION
-----------*/
.contact {
  padding: 16px;
  background-color: #f6f6f6;
}
.contactWrapper {
  padding-bottom: 16px;
}
.contactInfo {
  display: flex;
  flex-direction: column;
}
.contactItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.icon {
  margin-right: 8px;
}
.contact form {
  width: 40%;
  max-width: 700px;
  border: 1px solid #ddd;
  border-radius: 16px;
}
.formGroup {
  margin-bottom: 16px;
}
.contact label {
  display: block;
  margin-bottom: 8px;
}
.contact input,
.contact textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
}
.submitBtn {
  background-color: #29b969;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submitBtn:hover {
  background-color: #218c58;
}

/* -----------
RESPONSIVE
-----------*/
@media screen and (max-width: 920px) {
  .appMockup {
    width: 150px;
    height: 450px;
  }
  .appMockup::before {
    width: 200px;
    height: 200px;
  }
  .contactWrapper {
    flex-direction: column;
  }
  .contact form {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
  .left h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 48px;
  }
  .appMockup {
    order: 2;
  }
  .contactWrapper {
    justify-content: center;
  }
  .contactForm {
    width: 100%;
    margin-top: 16px;
  }
}
