.hero,
.faq,
.about,
.services,
.aboutContent,
.cards {
  margin-top: 64px;
}
h2 {
  margin-top: 8px;
  margin-bottom: 64px;
  font-size: 64px;
  letter-spacing: 0.2;
  line-height: 60px;
  color: rgba(51, 51, 51, 0.2);
  text-align: center;
}
/* -----------
HERO SECTION
-----------*/
.hero,
.aboutContent,
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px;
}
.hero .right img,
.about .left img {
  width: 500px;
  height: 500px;
  max-width: 100%;
}
.left h1 {
  font-size: 48px;
  color: #333333;
}
.hero p,
.about p {
  color: #333333;
}
.heroBtns {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-top: 16px;
}
.heroBtns a {
  font-weight: 600;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 24px;
}
.signup {
  color: #fff;
  background-color: #29b969;
  border-radius: 24px;
  padding: 8px 16px;
}
.login {
  color: #29b969;
  border: 2px solid #29b969;
}
.arrow {
  margin-left: 4px;
}

/* -----------
ABOUT US
-----------*/
.about {
  background-color: #f6f6f6;
  padding: 24px;
}
hr {
  width: 50%;
  background-color: #29b969;
  height: 4px;
  margin: 16px 0;
}
.about p {
  max-width: 450px;
  text-align: left;
  font-size: 24px;
}
.about .left img {
  width: 600px;
}

/* -----------
SERVICES
-----------*/
.cards {
  justify-content: center;
}
.card {
  width: 380px;
  min-height: 670px;
  border: 2px solid #29b969;
  border-radius: 0 48px 0 48px;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.2);
}
.card img {
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0 48px 0 0;
}
.card h3 {
  text-align: center;
  color: #29b969;
  margin: 16px 0;
}
.card p {
  padding: 0 24px;
}
/* -----------
FAQ SECTION
-----------*/
.faq {
  background-color: #f6f6f6;
  padding: 32px 0;
}
.faqWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  margin: 0 auto;
}
.accordionItem {
  border: 1px solid #29b969;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.questionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #29b969;
  cursor: pointer;
}
.question {
  font-size: 20px;
  color: #333333;
}
.questionIcon {
  font-size: 24px;
  color: #333333;
}
.accordionContent {
  padding: 16px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
