.tableWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reservationsTitle {
  margin-top: 32px;
}
.reservationsTable {
  margin-top: 32px;
  border-collapse: collapse;
}
.reservationsTable th,
.reservationsTable td {
  padding: 16px 24px;
  white-space: nowrap;
}
.reservationsTable th {
  background-color: #fff;
  text-align: left;
}
.evenRow {
  background-color: rgba(41, 185, 105, 0.1);
}
.oddRow {
  background-color: #ffffff;
}
.status {
  border-radius: 24px;
  padding: 4px 16px;
  display: inline-block;
  width: 140px;
  text-align: center;
}
.open {
  background-color: #ebf9f1;
  color: #41bc63;
  border: 1px solid #41bc63;
}
.booked {
  background-color: #fbf9f4;
  color: #bc9241;
  border: 1px solid #bc9241;
}
.completed {
  background-color: #fbf4f4;
  color: #bc4141;
  border: 1px solid #bc4141;
}
.reservationsTable button {
  border: none;
  outline: none;
  margin-left: 8px;
  cursor: pointer;
  font-weight: 600;
}
.accept,
.refuse {
  background: #624de3;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
}
.refuse {
  background-color: crimson;
}
.btnDelete {
  margin-left: 8px;
}
.deleteIcon {
  color: rgb(218, 45, 80);
  font-size: 18px;
}
@media (max-width: 768px) {
}
@media screen and (max-width: 1180px) {
  .tableWrapper {
    padding: 0 16px;
  }
  .reservationsTitle {
    font-size: 32px;
  }
  .reservationsTable {
    border: none;
  }
  .reservationsTable td {
    padding: 8px 12px;
  }
  .reservationsTable tr {
    border-bottom: 3px solid #ddd;
    display: inline-block;
  }
  .reservationsTable thead {
    display: none;
  }
  .reservationsTable td {
    display: block;
    border-bottom: 1px solid #ddd;
  }
}
@media screen and (max-width: 480px) {
  .tableWrapper {
    padding: 0;
  }
  .reservationsTable tr {
    width: 100%;
    text-align: center;
  }
}
