header {
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 76px;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 120px;
  background-color: #fff;
}
.logo {
  height: 60px;
}
.logoIcon {
  position: relative;
  bottom: 5px;
}
.logoText {
  position: relative;
  top: 5px;
}
.navToggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.navList {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navItem {
  margin-left: 20px;
}
.link {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}
.link:hover {
  color: #29b969;
}
.link {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.2s;
}
.link:hover {
  color: #29b969;
}
.rightLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login {
  color: #29b969;
  font-weight: 600;
}
.signup {
  color: #fff;
  background-color: #29b969;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  margin-right: 0;
}
.signup:hover {
  color: #fff;
}
.arrow {
  margin-left: 8px;
}
.active {
  display: flex;
}
.profileCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: #29b969;
  cursor: pointer;
  user-select: none;
}
.profileCard img {
  background-color: #29b969;
  border-radius: 8px;
  position: relative;
}
.profileMenu {
  display: block;
  position: absolute;
  top: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 8px;
  z-index: 1000;
}
.profileMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.profileMenu ul li {
  padding: 8px 16px;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.profileMenu ul li:hover {
  background-color: #f0f0f0;
  color: #29b969;
}

@media (max-width: 1040px) {
  .navToggle {
    display: block;
  }
  .navList {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    z-index: 999;
    display: none;
  }
  .navList.active {
    display: flex;
  }
  .navItem {
    margin: 8px 0;
  }
}
@media screen and (max-width: 850px) {
  .navBar {
    padding: 10px 0px;
  }
  .logoWrapper {
    position: absolute;
    top: 2px;
    left: 0;
  }
  .logoWrapper img {
    width: 60px;
    height: 100%;
  }
  .logoWrapper .logoIcon {
    top: 2px;
  }
  .navToggle {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
