header {
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 120px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 76px;
}
nav {
  position: relative;
  /* border: 1px solid red; */
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  list-style: none;
}
.right,
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  gap: 32px;
}
.logo {
  height: 60px;
}
.logoIcon {
  position: relative;
  bottom: 5px;
}
.logoText {
  position: relative;
  top: 5px;
}
.link {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.2s;
}
.link:hover {
  color: #29b969;
}
.login {
  color: #29b969;
  font-weight: 600;
}
.signup {
  color: #fff;
  background-color: #29b969;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  margin-right: 0;
}
.signup:hover {
  color: #fff;
}
.arrow {
  margin-left: 8px;
}
.menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
  margin-right: 8px;
}
.open {
  display: block;
}
.profileCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: #29b969;
  cursor: pointer;
}
.profileCard img {
  background-color: #29b969;
  border-radius: 8px;
}
@media (max-width: 850px) {
  header {
    padding: 10px 0px;
  }
  .left {
    margin-bottom: 20px;
  }
  .right {
    display: none;
  }
  .logoWrapper {
    width: 140px;
  }
  .logoWrapper img {
    width: 60px;
    height: 100%;
  }
  .logoWrapper .logoIcon {
    top: 2px;
  }
  .logoWrapper .logoText {
    width: 72px;
  }
  .menu {
    display: block;
    margin-bottom: 10px;
    position: absolute;
    right: 18px;
    top: 24px;
  }
  nav {
    display: none;
    width: 100%;
  }
  nav.open {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
